*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 1140px;
    height: 600px;
    margin:0 auto ;
    background-color: black;
}
@media (max-width:575px) {
    .container{
    width: 100%;
    background-color:aqua;
    height: 300px;
    margin: 0 auto;
    }  
}
@media (min-width:576px) {
    .container{
    width: 540px;
    background-color:rgb(167, 30, 117);
    height: 350px;
    margin: 0 auto;
    }  
}
@media (min-width:768px) {
    .container{
    width: 720px;
    background-color:rgb(29, 134, 12);
    height: 400px;
    margin: 0 auto;
    }  
}
@media (min-width:992px) {
    .container{
    width: 960px;
    background-color:rgb(123, 150, 150);
    height: 500px;
    margin: 0 auto;
    }  
}
@media (min-width:1200px) {
    .container{
    width: 1140px;
    background-color:rgb(118, 84, 26);
    height: 600px;
    margin: 0 auto;
    }  
}
@media (min-width:1400px) {
    .container{
    width: 1320px;
    background-color:rgb(56, 29, 131);
    height: 700px;
    margin: 0 auto;
    }  
}
.box{
    margin: 0 auto;
    background-color: black;
    color: aliceblue;
}
h1{
    text-align: center;
}
.box3{
    margin: 0 auto;
    background-color: rgb(244, 19, 19);
    color: rgb(159, 201, 33);
    width: 100px;
    float:left
}
.box4{
    margin: 0 auto;
    background-color: rgb(198, 26, 26);
    color: rgb(54, 116, 170);
    width: 100px;
    float:left
}

.box5{
    margin: 0 auto;
    background-color: rgb(206, 27, 27);
    color: rgb(167, 59, 120);
    width: 100px;
    float:left
}
a{
    color:white;
    text-decoration: none;
}
